/* FONTS */
@font-face {
  font-family: openSans;
  src: url("../../static/fonts/open_sans.ttf") format("truetype"); /* For IE */
  src: local("open_sans"), url("../../static/fonts/open_sans.ttf") format("truetype"); /* For non-IE */
}

@font-face {
  font-family: droidSans;
  src: url("../../static/fonts/droid_sans.ttf") format("truetype"); /* For IE */
  src: local("droid_sans"), url("../../static/fonts/droid_sans.ttf") format("truetype"); /* For non-IE */
}

@font-face {
  font-family: droidSerif;
  src: url("../../static/fonts/droid_serif.ttf") format("truetype"); /* For IE */
  src: local("droid_serif"), url("../../static/fonts/droid_serif.ttf") format("truetype"); /* For non-IE */
}

@font-face {
  font-family: cherrySwash;
  src: url("../../static/fonts/cherry_swash.ttf") format("truetype"); /* For IE */
  src: local("cherry_swash"), url("../../static/fonts/cherry_swash.ttf") format("truetype"); /* For non-IE */
}

@font-face {
  font-family: flamenco;
  src: url("../../static/fonts/flamenco.ttf") format("truetype"); /* For IE */
  src: local("flamenco"), url("../../static/fonts/flamenco.ttf") format("truetype"); /* For non-IE */
}

@font-face {
  font-family: inconsolata;
  src: url("../../static/fonts/flamenco.ttf") format("truetype"); /* For IE */
  src: local("flamenco"), url("../../static/fonts/inconsolata.ttf") format("truetype"); /* For non-IE */
}

$font_family_sans_serif: "droidSans", "openSans", "flamenco", Verdana, Arial, sans-serif;
$font_family_serif: "droidSerif", "cherrySwash", Georgia, "Times New Roman", Times, serif;
$font_family_monospace: "inconsolata", "Courier New", Courier, monospace;

html {
  font-family: $font_family_sans_serif;
  h1, h2, h3, h4, h5, h6 { font-family: $font_family_serif; }
}

.monospace {
  font-family: $font_family_monospace;
}